.activation-form-card {
    max-width: 420px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
.activation-form-header {
    background-color: #424242;
    color: white;
    padding: 10px 0;
}
.text-line {
    max-width: 345px;
    margin: 4px auto;
    padding: 0 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.button-line {
    padding: 15px 0;
}
.service-code-line {
    margin-top: 50px;
}
.text-line.service-phone-line {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
/*    margin: -16px auto 8px;*/
}
.phone-button {
    max-height: 30px;
}
p.field-item-label {
/*    color: white;*/
    color: #f44336;
    font-weight: bolder;
}